<table class="form-table" role="presentation">
    <tbody>
    {% for field in fields %}
        <tr>
            <th scope="row">
                <label for="{{ field.name }}">
                    {{ field.label }}
                </label>
            </th>
            <td>
                {% if field.type == 'text' or field.type == 'password' %}
                    <input name="{{ field.name }}" type="{{ field.type }}" id="{{ field.name }}"
                           aria-describedby="tagline-description"
                           value="{{ field.value }}"
                           placeholder="{{ field.placeholder }}"
                           class="regular-text">
                {% elseif field.type == 'file' %}
                    <input id="{{ field.name }}"
                           class="twint-file-upload"
                           name="{{ field.name }}"
                           type="{{ field.type }}"
                           placeholder="Drag and drop file here" />
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>