{% if isOrderPaid is defined and isOrderPaid == true %}
    <div class="flashbags">
        <div role="alert" class="alert alert-success alert-has-icon">
            <span class="icon icon-checkmark-circle">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24"
                     height="24" viewBox="0 0 24 24">
                    <defs>
                        <path d="M24 12c0 6.6274-5.3726 12-12 12S0 18.6274 0 12 5.3726 0 12 0s12 5.3726 12 12zM12 2C6.4772 2 2 6.4772 2 12s4.4772 10 10 10 10-4.4772 10-10S17.5228 2 12 2zM7.7071 12.2929 10 14.5858l6.2929-6.293c.3905-.3904 1.0237-.3904 1.4142 0 .3905.3906.3905 1.0238 0 1.4143l-7 7c-.3905.3905-1.0237.3905-1.4142 0l-3-3c-.3905-.3905-.3905-1.0237 0-1.4142.3905-.3905 1.0237-.3905 1.4142 0z"
                              id="icons-default-checkmark-circle"></path>
                    </defs>
                    <use xlink:href="#icons-default-checkmark-circle" fill="#758CA3" fill-rule="evenodd"></use></svg>
            </span>
            <div class="alert-content-container">
                <div class="alert-content">
                    {{ 'Your payment was successful'|__trans }}
                </div>
            </div>
        </div>
    </div>
{% elseif isOrderCancelled is defined and isOrderCancelled == true %}
    <div class="flashbags">
        <div role="alert" class="alert alert-danger alert-has-icon">
            <span class="icon icon-checkmark-circle">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 30 30">
                    <path d="M 7 4 C 6.744125 4 6.4879687 4.0974687 6.2929688 4.2929688 L 4.2929688 6.2929688 C 3.9019687 6.6839688 3.9019687 7.3170313 4.2929688 7.7070312 L 11.585938 15 L 4.2929688 22.292969 C 3.9019687 22.683969 3.9019687 23.317031 4.2929688 23.707031 L 6.2929688 25.707031 C 6.6839688 26.098031 7.3170313 26.098031 7.7070312 25.707031 L 15 18.414062 L 22.292969 25.707031 C 22.682969 26.098031 23.317031 26.098031 23.707031 25.707031 L 25.707031 23.707031 C 26.098031 23.316031 26.098031 22.682969 25.707031 22.292969 L 18.414062 15 L 25.707031 7.7070312 C 26.098031 7.3170312 26.098031 6.6829688 25.707031 6.2929688 L 23.707031 4.2929688 C 23.316031 3.9019687 22.682969 3.9019687 22.292969 4.2929688 L 15 11.585938 L 7.7070312 4.2929688 C 7.5115312 4.0974687 7.255875 4 7 4 z"></path>
                </svg>
            </span>
            <div class="alert-content-container">
                <div class="alert-content">
                    {{ 'Your order was cancelled.'|__trans }}
                </div>
            </div>
        </div>
    </div>
{% else %}
    {% set isAndroid = false %}
    {% set isIosDevice = false %}
    {% set androidLink = '' %}
    {% if payLinks.android is defined %}
        {% set isAndroid = true %}
    {% endif %}
    {% if payLinks.ios is defined %}
        {% set isIosDevice = true %}
    {% endif %}
    {% if isAndroid and payLinks.android %}
        {% set androidLink = payLinks.android %}
    {% endif %}
    <section class="twint-qr-code-section">
        <div class="mb-3">
            <div class="text-center" style=" width: 200px; margin: 0 auto;">
                <img src="{{ twint_asset('/images/twint_logo.png') }}" alt="Twint Logo" class="qr-img">
            </div>
        </div>
        <div class="twint-qr-container {{ isAndroid ? 'android' : '' }} {{ isIosDevice ? 'ios' : '' }} {{ not (isAndroid or isIosDevice) ? 'generic' : '' }}"
             id="twint-qr-container"
             data-mobile="{{ isAndroid or isIosDevice }}"
             data-is-android-device="{{ isAndroid }}"
             data-is-ios-device="{{ isIosDevice }}"
             data-android-link="{{ payLinks.android }}"
             data-order-id="{{ orderId }}"
        >
            <input type="hidden" name="twint_wp_nonce" value="{{ nonce }}" id="twint_wp_nonce">

            {% if payLinks['ios'] is defined and payLinks['ios'] is not null %}
                {% include 'Layouts/partials/qr-code/qr_ios.html.twig' %}
            {% elseif payLinks['android'] is defined and payLinks['android'] is not null %}
                {% include 'Layouts/partials/qr-code/qr_android.html.twig' %}
            {% else %}
                <div class="qr-code-section d-flex gap-4" style="font-size: 16px;">
                    <div class="qr-code-box">
                        <div class="text-center">
                            <img src="{{ qrCode }}" alt="QR Code" class="qr-img">
                        </div>
                        <div class="qr-token text-center mb-3">
                            <input id="qr-token" class="text-center bg-white" type="text" value="{{ pairingToken }}"
                                   disabled>
                        </div>
                    </div>
                    <div class="right-side-info parent gap-4">
                        <div class="qr-code-box child order-information flex-column">
                            <div class="order-price bg-white p-3 h-50 md-rounded d-flex justify-content-center align-items-center">
                                <span class="value text-white bg-black fw-semibold px-4 py-2">{{ currency }} {{ amount }}</span>
                            </div>
                        </div>
                        <div class="qr-code-box child order-information flex-column">
                            <div class="order-price bg-white text-black p-3 h-50 md-rounded d-flex justify-content-center align-items-center">
                                {{ get_bloginfo('name') }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% include 'Layouts/partials/qr-code/payment-guide.html.twig' %}
        </div>
    </section>
{% endif %}