{% block PHPComponents %}
    <div class="wrap">
        <h1>{{ 'TWINT Settings'|__trans }}</h1>

        <div id="notice-admin-success" class="d-none notice notice-success">
            <p>{{ 'All settings have been saved.'|__trans }}</p>
        </div>
        <div id="notice-admin-error" class="d-none notice notice-error is-dismissible"></div>

        <form method="post" action="" novalidate="novalidate" enctype="multipart/form-data">
            <nav class="nav-tab-wrapper woo-nav-tab-wrapper">
                {% for tab in tabs %}
                    {% if tab.directLink is defined and tab.directLink is not null %}
                        <a href="{{ tab.directLink }}"
                           class="nav-tab nav-tab {% if activated_tab == tab.key %} nav-tab-active {% endif %}">
                            {{ tab.title }}
                        </a>
                    {% else %}
                        <a href="{{ admin_url }}admin.php?page=twint-payment-integration-settings&tab={{ tab.key }}"
                           class="nav-tab nav-tab {% if activated_tab == tab.key %} nav-tab-active {% endif %}">
                            {{ tab.title }}
                        </a>
                    {% endif %}
                {% endfor %}
            </nav>

            <div class="tab-content">
                {% if nonce is defined and nonce is not null %}
                    <input type="hidden" name="nonce" id="twint_wp_nonce" value="{{ nonce }}">
                {% endif %}
                {{ tabContent|raw }}

                {% if allowSaveChanges == true %}
                    <p class="submit">
                        <input type="submit"
                               name="submit"
                               id="js_twint_button_save"
                               class="button button-primary js_twint_button_save"
                               value="{{ 'Save changes'|__trans }}">
                    </p>
                {% endif %}
            </div>

        </form>
    </div>
{% endblock %}