<table class="content-table">
    <thead>
    <tr>
        <th>{{ 'Order ID'|__trans }}</th>
        <th>{{ 'API method'|__trans }}</th>
        <th>{{ 'SOAP actions'|__trans }}</th>
        <th>{{ 'Order status'|__trans }}</th>
        <th>{{ 'Created at'|__trans }}</th>
        <th>{{ 'Actions'|__trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for item in logs %}
        <tr>
            <td>{{ item.order_id }}</td>
            <td><span class="badge bg-primary">{{ item.api_method }}</span></td>
            <td>
                {% for action in twint_json_decode(item.soap_action) %}
                    <span class="badge bg-primary">{{ action }}</span>
                {% endfor %}
            </td>
            <td>{{ item.order_status }}</td>
            <td>{{ item.created_at|date('Y-m-d H:i:s') }}</td>
            <td>
                <a href="#" class="button button-small button-primary js_view_details"
                   data-nonce="{{ nonce }}"
                   data-record-id="{{ item.record_id }}">
                    {{ 'View Details'|__trans }}
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="modal twint-modal">
    <div class="modal-content" style="width: 70%;">
        <div class="modal-body">
            <span class="close-button">&times;</span>
            <h3>{{ 'Twint transaction log'|__trans }}</h3>
            <div id="modal-content-details"></div>
        </div>

        <div class="modal-footer">
            <a href="#" class="button button-small button-primary close-button">{{ 'Close'|__trans }}</a>
        </div>
    </div>
</div>