<table class="form-table twint-table-setting" role="presentation">
    <tbody>
    {% set needHideCertificateUpload = flag_credentials == 'yes' %}
    {% set isShowedTheButtonUploadNewCert = false %}
    {% for field in fields %}
        {% if isShowedTheButtonUploadNewCert == false %}
            {% if field.name == 'plugin_twint_settings_certificate' and needHideCertificateUpload == true %}
                {% set isShowedTheButtonUploadNewCert = true %}
                <tr class="">
                    <th></th>
                    <td>
                        <div class="notify-box notify-success {% if flag_credentials == 'no' %} d-none {% endif %}"
                             style="max-width: 25em;"
                             id="notice_success_configuration_settings"
                        >
                            <div class="notify-box__content">
                                <div style="margin-bottom: 10px;">
                                    {{ 'Certificate encrypted and stored.'|__trans }}
                                </div>

                                <a href="javascript:void(0)"
                                   id="upload-new-certificate"
                                   style="margin-top: 7px;">
                                    {{ 'Upload new certificate'|__trans }}
                                </a>

                                <a href="javascript:void(0)"
                                   id="close-new-certificate"
                                   class="d-none"
                                   style="margin-top: 7px;">
                                    {{ 'Close'|__trans }}
                                </a>
                            </div>
                        </div>
                        <div class="notify-box notify-warning {% if flag_credentials == 'yes' %} d-none {% endif %}"
                             id="notice_error_configuration_settings"
                        >
                            <div class="notify-box__content">
                                {{ 'The configurations are loaded but encryption fails. Please check again.'|__trans }}
                            </div>
                        </div>
                    </td>
                </tr>
            {% endif %}
        {% endif %}
        <tr class="{{ field.name }}{% if field.name in ['plugin_twint_settings_certificate', 'plugin_twint_settings_certificate_password'] and needHideCertificateUpload %} d-none {% endif %}">
            <th scope="row">
                <label for="{{ field.name }}">
                    {{ field.label }}
                </label>
            </th>
            <td>
                {% if field.type == 'text' or field.type == 'password' %}
                    <input name="{{ field.name }}" type="{{ field.type }}" id="{{ field.name }}"
                           aria-describedby="tagline-description"
                            {% if field.need_populate == true %}
                                value="{{ get_option(field.name) }}"
                            {% endif %}
                           placeholder="{{ field.placeholder }}"
                           class="regular-text">
                {% elseif field.type == 'file' %}
                    <input class="twint-file-upload"
                           name="{{ field.name }}"
                           type="{{ field.type }}"
                           placeholder="{{ field.placeholder }}"/>

                {% elseif field.type == 'textarea' %}
                    <textarea id="{{ field.name }}"
                              name="{{ field.name }}"
                              rows="{{ field.rows }}"
                              type="{{ field.type }}"
                              class="regular-text twint-field"
                              placeholder="{{ field.placeholder }}">{% if field.need_populate == true %}{{ get_option(field.name) }}{% endif %}</textarea>
                {% elseif field.type == 'checkbox' %}
                    <fieldset>
                        <legend class="screen-reader-text"><span>Enable/Disable</span></legend>
                        <label for="woocommerce_cod_enabled">
                            <input class=""
                                   type="checkbox"
                                   name="{{ field.name }}"
                                   id="{{ field.name }}"
                                    {% if field.need_populate == true %}
                                        {% if get_option(field.name) == 'yes' %}
                                            checked
                                        {% endif %}
                                    {% endif %}
                            >
                            {{ field.label_help }}
                        </label>
                    </fieldset>
                {% endif %}

                {% if field.help_text != '' %}
                    <div style="margin-top: 5px;">
                        <small class="text-small"><i>{{ field.help_text }}</i></small>
                    </div>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>