<div class="text-center row mt-3">
    <a class="btn btn-primary android-button rounded py-2 px-3 border-0"
       href="javascript:window.location = '{{ payLinks.android }}'">
        {{ "Switch to the TWINT app now"|__trans }}
    </a>
</div>

<div class="qr-code d-none d-md-none">
    <div class="separator d-flex py-0 text-center my-3">{{ 'or'|__trans }}</div>
    <div class="qr-code flex d-flex justify-content-center my-3">
        <div class="col-9 text-center">{{ 'Enter this code in your TWINT app:'|__trans }}</div>
    </div>

    <div class="qr-token text-center mb-3">
        <input id="qr-token" class="text-center bg-white" type="text" value="{{ pairingToken }}"
               disabled>
    </div>

    <div class="d-md-none text-center border-bottom py-4">
        <button id="btn-copy-token" data-clipboard-action="copy" data-clipboard-target="#qr-token"
                class="text-center p-2 px-3 bg-white rounded text-secondary border-secondary border-1 ">{{ "Copy Code"|__trans }}</button>
    </div>

    {% if qrCode %}
        <div class="text-center">
            <img src="{{ qrCode }}" alt="QR Code" class="qr-img img-fluid md-rounded">
        </div>
    {% endif %}
</div>